{% extends 'base.html' %}

{% block title %}Curiosidades{% endblock %}

{% block content %}
<h2>Curiosidades do Universo de Demon Slayer</h2>

<div class="card">
    <ul id="curiosidades">
        <li>Mugen Train é o filme de anime mais lucrativo da história.</li>
        <li>A trilha sonora foi indicada a prêmios no Japão.</li>
        <li>Tanjiro foi inspirado em heróis japoneses clássicos.</li>
        <li>O anime foi elogiado por sua animação cinematográfica.</li>
    </ul>
    <button onclick="proximaCuriosidade()">Ver próxima</button>
</div>
{% endblock %}
